{
  "$schema": "{{ .SchemaUrl }}",
  "tables": [
    {
      "name": "TABLE NAME",
      "columns": [
        {
          "name": "COLUMN NAME",
          "type": "string"
        }
      ]
    }
  ]
}
